

.paren {
	-fx-fill: grey;
	-fx-font-weight: bold;
}

.bracket {
	-fx-fill: grey;
	-fx-font-weight: bold;
}

.brace {
	-fx-fill: grey;
	-fx-font-weight: bold;
}

.keyword {
	-fx-fill: royalblue;
	-fx-font-weight: bold;
}

.keyword {
	-fx-fill: orange;
	-fx-font-weight: bold;
}

.keyword {
	-fx-fill: teal;
	-fx-font-weight: bold;
}